In [1]:
import pandas as pd

df = pd.read_csv('/Users/ISRAEL/Desktop/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

print(df)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [30]:
# Question 11

year = df[df['Item'] == 'Animal fats']
print(year['Y2014'].sum())
print(year['Y2017'].sum())

# Or can using grouping

Y2014 = df.groupby('Item')['Y2014'].sum()
Y2017 = df.groupby('Item')['Y2017'].sum()

print(Y2014['Animal fats'])
print(Y2017['Animal fats'])

209460.54
269617.53
209460.54
269617.53

In [31]:
# Question 12

print(round(df['Y2015'].mean(), 3))
print(round(df['Y2015'].std(), 3))

135.236
1603.404

In [32]:
# Question 13

e = df['Y2016']

missingData = e.isnull().sum()
print(missingData)

# Total entries expected is 60943 using highest entry count from df.describe()

percentage = missingData/60943 * 100

print(round(percentage, 2))

1535
2.52

In [33]:
# Question 14

# Question quite difficult to decipher but here goes:

e = df.groupby('Element Code')[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
print(e.corr())

# Maximum correlation is in 2017

              Element Code     Y2014     Y2015     Y2016     Y2017     Y2018
Element Code      1.000000  0.413329  0.409054  0.409987  0.413800  0.410298
Y2014             0.413329  1.000000  0.999918  0.999793  0.999844  0.999743
Y2015             0.409054  0.999918  1.000000  0.999913  0.999842  0.999879
Y2016             0.409987  0.999793  0.999913  1.000000  0.999783  0.999848
Y2017             0.413800  0.999844  0.999842  0.999783  1.000000  0.999888
Y2018             0.410298  0.999743  0.999879  0.999848  0.999888  1.000000

In [34]:
# Question 15

importQuantity = df[df['Element'] == 'Import Quantity']

print(importQuantity[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum())

# Or using grouping

e = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

print(e.loc['Import Quantity'])

# Year with the highest sum (294559.09) is 2017

Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
dtype: float64
Y2014    274144.48
Y2015    267018.46
Y2016    286582.78
Y2017    294559.09
Y2018    287997.09
Name: Import Quantity, dtype: float64

In [35]:
# Question 16

production = df.groupby('Element')['Y2014'].sum()

print(production['Production'])

1931287.75

In [36]:
# Question 17

elements = df.groupby('Element')[['Element', 'Y2018']].sum()

# elements.max() is 2161192.1

print(elements[elements.Y2018 == 2161192.1])

                              Y2018
Element
Domestic supply quantity  2161192.1

In [37]:
# Question 18

thirdLowestSum = df.groupby('Element')['Y2018'].sum()

print(thirdLowestSum)

# Third lowest sum is 10258.69 which corresponds to Fat supply quantity (g/capita/day)

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [28]:
# Question 19

Algeria = df[(df['Area'] == 'Algeria') & (df['Element'] == 'Import Quantity')]

print(Algeria.groupby('Area').sum())

         Area Code  Item Code  Element Code     Y2014     Y2015     Y2016  \
Area
Algeria        448     301030        628432  34940.12  37841.91  36736.08

            Y2017     Y2018
Area
Algeria  36059.29  36238.29

In [29]:
# Question 20

print(df['Area'].describe())

count     60943
unique       49
top       Kenya
freq       1560
Name: Area, dtype: object